# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
.env/
.env

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# IDEs
# ----------------------------
.vscode/
.idea/

# ----------------------------
# Docker
# ----------------------------
*.env
docker-compose.override.yml

# ----------------------------
# Grafana / Prometheus (si generas datos locales)
# ----------------------------
grafana-data/
prometheus-data/

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Secrets (MUY IMPORTANTE)
# ----------------------------
*.env
.env.*

# ----------------------------
# Temporary files
# ----------------------------
*.tmp
*.swp